$text-color: #757575;
$header-color: #3498db;
$bg-color: #ffffff;


.add-project-form{
    width: 100%;

.project-form-header{
 display: flex;
 background-color: $header-color;
 color: white;
 font-size: 1rem;
 justify-content: space-between;
 padding: 0 1rem 0 1rem;
 border-radius: 5px 5px 0 0;
 .project-form-img{
    max-width: 10%;
 }
}

.project-flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 2rem 4rem;

    .project-form-btn {
      color: $text-color;
      border-radius: 5px;
      border: 1px solid $text-color;
      margin-top: 2rem;
      padding: 0.5rem 0;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover{
        border: 1px solid $header-color;
        background-color: $header-color;
        color: white;
      }
    }
}
}