$text-color: #757575;
$header-color: #3498db;
$bg-color: #ffffff;

#content {
  position: relative;
}

form {
  background-color: $bg-color;
  color: $text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.4rem;
  .flex-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;

    .form-btn {
      color: white;
      background-color: $header-color;
      border-radius: 5px;
      border: none;
      margin-top: 2rem;
      padding: 0.5rem 0;
      font-weight: 700;
      cursor: pointer;
    }
  }
  .form-header-container {
    display: flex;
    justify-content: space-between;
    background-color: $header-color;
    color: white;
    padding: 0 2rem 0 2rem;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;

    .form-img {
      max-width: 10%;
      cursor: pointer;
    }
  }

  input {
    border-radius: 4px;
    outline: none;
    border: 1px solid $text-color;
    transition: all 0.2s ease-in-out;
    text-align: center;
    &:focus {
      outline: none;
      border: 1px solid $header-color;
      border-radius: 4px;
    }
  }

  textarea {
    border: 1px solid $text-color;
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      border: 1px solid $header-color;
      border-radius: 4px;
    }
  }

  select {
    border: 1px solid $text-color;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
      border: 1px solid $header-color;
      border-radius: 4px;
    }
  }
}
