$bg-color: #ffffff;
$header-color: #3498db;
$accent-color: #2ecc71;
$main-content-text: #333333;
$completed-task: #555555;
$urgent-task: #e74c3c;
$text-color: #757575;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
}

.task-ul {
  .task-li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    p:first-child {
      grid-column-start: 1;
      grid-column-end: 2;
      max-width: 70px;
    }

    p {
      display: flex;
      align-items: center;
    }

    .icons-div {
      display: flex;
      align-items: center;
      .show-more,
      .delete-btn {
        max-width: 40%;
        cursor: pointer;
      }
      .info-btn {
        max-width: 40%;
        cursor: pointer;
      }
      .edit-btn {
        max-width: 40%;
        cursor: pointer;
      }
    }
  }
}
