$completed-task: #555555;

$nav-background: #f7f7f7;
$text-color: #757575;
$hover-state: #3498db;

.nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $nav-background;
  color: $text-color;
  border-radius: 0 0 10px 10px;
  padding-bottom: 1.2rem;

  .home-li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 6rem 0.5rem 6rem;
    margin-top: 1.4rem;

    .home-icon {
      max-width: 60%;
    }
  }

  .project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.2rem;
    img {
      max-width: 10%;
      cursor: pointer;
    }
  }

  .nav-div-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-headline {
    border-bottom: solid 3px $text-color;
    padding: 0 6rem 0 6rem;
  }
  h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  ul {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    li {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 250px;
      text-align: center;
      cursor: pointer;
      padding: 0.5rem 4rem;
      border-radius: 0.4rem;
      background-color: white;
      &:hover {
        color: white;
        background-color: $hover-state;
      }
      .calendar-icon {
        max-width: 30%;
      }
    }
  }
}
